.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  background-color: transparent;
    padding: 10px;
  }
  .grid-item {
    
     padding: 10px; 
    font-size: 30px;
    text-align: center;
  }

  
  .cardView{
      position: absolute;
      top:400px;
      left:5px;
  }
  #grid-container {
    display: grid;
    grid-template-columns: auto auto;
  background-color: transparent;
  
  }
  #grid-item {
      padding-right:15px ;
    text-align: center;
  }
  #grid-itemOne{
    padding-top: 40px;
    text-align: left;
  }
  #textCard{
      text-align: left;
      font-size: 12px;
  }
  .hyPer{
    text-align: left;
  }
  #hyPer:hover{
    color:#C7511F !important;
    text-decoration: underline !important;
  }