 label{
    color: whitesmoke;
    
}
.navbar1
{
  background-color: black !important;
}
.Box :hover
{
    
    border: 1px solid white;
    
}

button :hover
{
    border :1px solid whitesmoke;
}

.country{
    margin-left: 35px;
    margin-top: 15px;
    display: flex;
    margin-bottom: 5px;
  }
  .CountryFlag{
    height: 15px;
  }
  
  
  .dropbtn {
    background-color: #0F1111;
    color: white;
    padding-top: 12px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
    
  }
  .CountryFlag{
    margin-top: 15px;
  }
  .country .input-group{
    margin-left: 0px;
  }
  
  .country:hover{
    border: 1px solid white
  }
  .nav-up-right{
    display: flex;
  }
  .nav-right{
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    margin-bottom: 10px;
  }
  .nav-right:hover{
    border: 1px solid white;
  }
  .sign-up span{
    color: white;
    margin-left: 0px;
    font-size: .8rem;
  }
  .lists h6{
    font-size: 1rem;
    color: white;
  }
  .dropdown .dropbtn1{
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border: none;
    
  }
  .orders{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .orders .returns span{
    color: white;
    font-size: .8rem;
  }
  .orders .returnOrders h6{
    color: white;
  }
  .orders:hover{
    border: 1px solid white;
  }