

.navbar
{
    background-color: #232F3E;
}

.nav-item :hover
{

     border: 1px solid rgb(255, 255, 255);
}
.btn
{
    color: white !important;
}

.root
{
    margin-right: 10rem;
    margin-left: 10rem;
}